/* Section Basic Start */

.basic_title {
    font-size: 30px;
    line-height: 35px;
}

/* Section Basic End */

/* Section slide Start */

.slide_container {
    width: 80%;
}

/* Section slide End */

/*Section price Start*/

.price_title {
    font-size: 20px;
    line-height: 30px;
    width: 35%;
}

.price_text {
    font-size: 36px;
    line-height: 42px;
}

.price_text::after {
    font-size: 24px;
}

/*Section price End*/

/*Section complex Start*/


.complex_container {
    width: 95%;
}

.complex_title_text {
    font-size: 24px;
    line-height: 32px;
}

.col_2 {
    padding: 5px;
    font-size: 14px;
}

/*Section complex End*/

/*Section consult Start*/

.consult_info_title_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #304763;
}

.consult_info_check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    margin: 0 auto;
}

.consult_table_container {
    background: #304763;
    border: 2px solid #304763;
    border-radius: 2px;
    width: 100%;
    min-height: 50px;
}

.consult_col {
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    border-right: 1px solid white;
    border-radius: 2px;
    width: 33%;
}

.consult_col p {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.75);
}

.consult_col svg {
    margin-right: 15px;
}

.consult_row td:last-child {
    border: none;
}

.consult_send_info {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.info_btn button {
    width: 210px;
    height: 60px;
    border: 2px solid #0E417C;
    box-sizing: border-box;
    margin-bottom: 45px;
    background-color: #FFFFFF;
}

.info_title {
    text-align: center;
    width: 210px;
    margin-bottom: 45px;
}

.info_title p {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #304763;
}

.info_title input {
    transition: width 1s;
    border: none;
    border-bottom: 2px solid #304763;
    background-color: transparent;
    width: 100%;
}


/*Section consult End*/


/*Section footer Start*/


.sec_footer {
    margin: 0;
    background-color: #16497E;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.footer_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

.footer_top_right {
    width: 200px;
    text-align: right;
    margin-bottom: 25px;
}

.footer_buttom form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-wrap: wrap;*/
    width: 100%;
}

.footer_buttom {
    width: 100%;
}

.footer_buttom button {
    width: 223px;
    height: 45px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer_top_left p {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #ffffff;
}

.footer_top_right p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
}

.footer_top_left {
    margin-bottom: 25px;
}

/*Section footer End*/